<section>
  <div class="container">
    <img src="./img/Asset1.png" alt="." />
    <img src="./img/york.jpg" alt="Yorkshire" />

    <h2>About Us</h2>
    <p>Treating Pet Like Royalty</p>
    <p>"They`re not pets, they`re family</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vitae
      aliquam inventore. Rerum commodi, iure dolores sit voluptatum beatae
      cumque vitae quo illum sequi dignissimos nostrum nulla delectus laudantium
      earum!
    </p>
    <button type="button">Explore</button>

    <ul>
      <li>
        <svg class="" width="60" height="75">
          <use href="./img/srite.svg#food"></use></svg
        >Pet Food
      </li>
      <li>
        <svg class="" width="60" height="75">
          <use href="./img/srite.svg#care"></use></svg
        >Pet Care
      </li>
      <li>
        <svg class="" width="60" height="75">
          <use href="./img/srite.svg#accessories"></use></svg
        >Pet Accessories
      </li>
    </ul>
  </div>
</section>
