<section>
  <div>
    <div>
      <img src="./img/contact1.png" alt="Cat" />
      <button type="button">
        <svg class="" width="48" height="43">
          <use href="../img/srite.svg#play-fill"></use>
        </svg>
      </button>
      <img src="./img/contact2.jpg" alt="Dog" />
    </div>
    <div>
      <h2>Contact Us</h2>
      <p>Come For the Care, Leave With a Smile</p>
      <svg class="" width="16" height="16">
        <use href="./img/srite.svg#clock-fill"></use>
      </svg>
      <p>Monday/Friday 9:00-23:00</p>
      <p>Saturday 10:00-21:00</p>
      <address>
        <svg class="" width="16" height="16">
          <use href="./img/srite.svg#geo-alt-fill"></use>
        </svg>
        <a href="tel:+012-345-6789">+012-345-6789</a><br />
        <a href="mailto:TheWildKingdom@contact.com"
          >TheWildKingdom@contact.com</a
        ><br />
        <a
          href="https://www.google.com/maps/place/Silver+Lake,+OH+44224,+USA/@41.1592869,-81.4807915,6603m/data=!3m2!1e3!4b1!4m6!3m5!1s0x8831265a1c9d3c6f:0x3f13464e7f9a2577!8m2!3d41.158945!4d-81.4542792!16zL20vMHoyNzM?authuser=0&entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
          >9889 Lorem Ipsum street, Pellentesque, CA, USA</a
        ><br />
        <button type="menu">Contact</button>
      </address>
    </div>
    <div>
      <svg class="" width="70" height="65">
        <use href="./img/srite.svg#paw_svg"></use>
      </svg>
    </div>
  </div>
</section>
