<footer class="footer">
  <div class="container">
    <img src="../img/footer_deco.png" alt="lovely" />
    <div>
      <h2>Sitemap</h2>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Products</li>
        <li>Services</li>
      </ul>
      <ul>
        <li>
          <svg class="" width="24" height="24">
            <use href="./img/srite.svg#TW"></use>
          </svg>
        </li>
        <li>
          <svg class="" width="24" height="24">
            <use href="./img/srite.svg#IG"></use>
          </svg>
        </li>
        <li>
          <svg class="" width="24" height="24">
            <use href="./img/srite.svg#TT"></use>
          </svg>
        </li>
        <li>
          <svg class="" width="24" height="24">
            <use href="./img/srite.svg#MD"></use>
          </svg>
        </li>
      </ul>
    </div>

    <div><p>The wild kingdom</p></div>
    <div>
      <p>Treating all the pets present here like royalty</p>
      <p>Enter email address</p>
      <input type="email" />
      <button>Subscribe</button>
    </div>
    <!--DONT FORGET UP BTN-->
  </div>
</footer>
