<footer class="footer">
  <div class="container footer-container">

    <div class="sitemap">
      <h2 class="sitemap-headline">Sitemap</h2>
      <ul class="sitemap-list">
        <li class="sitemap-item">Home</li>
        <li class="sitemap-item">About</li>
        <li class="sitemap-item">Products</li>
        <li class="sitemap-item">Services</li>
      </ul>


      <ul class="socials-list">
        <li class="socials-item">
          <svg class="" width="24" height="24">
            <use href="./img/sprite.svg#TW"></use>
          </svg>
        </li>
        <li class="socials-item">
          <svg class="" width="24" height="24">
            <use href="./img/sprite.svg#IG"></use>
          </svg>
        </li>
        <li class="socials-item">
          <svg class="" width="24" height="24">
            <use href="./img/sprite.svg#TT"></use>
          </svg>
        </li>
        <li class="socials-item">
          <svg class="" width="24" height="24">
            <use href="./img/sprite.svg#MD"></use>
          </svg>
        </li>
      </ul>
    </div>

    <div class="footer-site-name"><p>The wild<br>kingdom</p></div>

    <div class="newsletter">
      <p class="newsletter-name">Treating all the pets present here like royalty</p>
      <form class="footer-form">
        <label class="footer-email">Enter email address

        <input class="input" type="text" name="email"/>
        </label>
        <button class="submit-btn" type="submit">Subscribe</button>

    </form>

    </div>
    <!--DONT FORGET UP BTN-->

  </div>
  <p class="copyright">Copyright Dotcreativemarket</p>
</footer>
