<header class="header">
  <div class="header-container container">
    <ul class="header-list">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Services</a></li>
    </ul>

    <h1>the wild kingdom</h1>

    <ul>
      <li><a href="">Log in</a></li>
      <li><a href="">Register</a></li>
    </ul>

    <button type="button">Contact</button>

  </div>

  <div class="hero-container container">

    <p>a better world for pets</p>

    <button type="menu">Explore</button>


    <img src="../img/hero_big_dog.png" alt="Beatyful dog" >

  <ul>
    <li><img src="../img/hero_cat1.png" alt="turtule cat"></li>
    <li><img src="../img/hero_dog1.png" alt="dog in crown"></li>
    <li><img src="../img/hero_cat2.png" alt="white cat"></li>
  </ul>

  <ul>
    <li><button><svg class="herosvg1" width="34" height="16">
      <use href="../img/srite.svg#icon-arrow-left"></use>
    </svg></button></li>
    <li><button><svg class="herosvg1" width="34" height="16">
      <use href="../img/srite.svg#icon-arrow-right"></use>
    </svg></button></li>
  </ul>

  </div>

</header>
