<header>
  <div class="container">
  <div class="header-container">
    <ul class="nav-list">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Services</a></li>
    </ul>

    <svg class="logo" width="379" height="136">
        <use href="./img/sprite.svg#icon-The-Wild-Kingdom"></use>
    </svg>

    <ul class="registration">
      <li><a href="">Log in</a></li>
      <li><a href="">Register</a></li>
    </ul>

    <button class="contact-btn" type="button">Contact</button>
  </div>

  <!-- Hat -->

   <div class="hero-container">

       <div class="hero-menu">
         <div class="hero-menu-inline">
            <p class="hero-slogan">a better world<br>for pets</p>

            <button class="hero-btn" type="button">Explore</button>
         </div>

        <ul class="hero-slider">
          <li><img src="./img/hero_big_dog.png" alt="Beautiful dog" /></li>
          <li><img src="./img/hero_cat1.png" alt="turtle cat" /></li>
          <li><img src="./img/hero_dog1_copy.png" alt="dog in crown" /></li>
          <li><img src="./img/hero_cat2.png" alt="white cat" /></li>
        </ul>
       </div>



    </div>
    <button class="slider-btn">
      <svg class="herosvg1" width="34" height="16">
        <use href="./img/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <button class="slider-btn">
      <svg class="herosvg1" width="34" height="16">
        <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</header>
