<!-- <section class="products">
  <div class="container">
    <h2>Our Products</h2>
    <p>For All Your Pet Needs</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis
      repellendus temporibus quam officia magni tempore expedita reiciendis.
    </p>
    <ul>
      <li>
        <img src="./img/bed.jpg" alt="Luxury Pet Bed" />
        <p>Luxury Pet Bed</p>
        <p>$120</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/one_bowl.jpg" alt="Luxury Pet Bed" />
        <p>Cat Food</p>
        <p>$20</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/two_bowls.jpg" alt="Luxury Pet Bed" />
        <p>Dog Food</p>
        <p>$30</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/snack.jpg" alt="Luxury Pet Bed" />
        <p>Treat for dog</p>
        <p>$60</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/playing_cat.jpg" alt="Luxury Pet Bed" />
        <p>Scratching Toy for Cat</p>
        <p>$200</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="../img/toy.jpg" alt="Luxury Pet Bed" />
        <p>Teddy Bear for Dog</p>
        <p>$80</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/threats.jpg" alt="Luxury Pet Bed" />
        <p>Treats Knot Bone</p>
        <p>$8</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>

      <li>
        <img src="./img/water_bowl.jpg" alt="Luxury Pet Bed" />
        <p>Dog Bowls</p>
        <p>$70</p>
        <svg class="" width="175" height="26">
          <use href="./img/srite.svg#stars"></use>
        </svg>
      </li>
    </ul>

    <button type="button">Explore</button>
  </div>
</section> -->
