<!-- <section class="services">
  <div class="container">
    <div><img src="./img/funny_cat.jpg" alt="Funny cat" /></div>
    <div>
      <img src="./img/servises_deco.png" alt="sparkle" />
      <h2>Our Services</h2>
      <p>Quality Things For Loving Pets</p>
      <p>"More than a pet store..."</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit labore
        culpa accusamus alias corporis temporibus optio neque assumenda
        aspernatur voluptatibus minus, ducimus vero fugiat autem nihil,
        perferendis porro officiis aliquid.
      </p>
      <button type="button">Explore</button>
    </div>
    <div>
      <ul>
        <li>
          <img src="./img/services1.jpg" alt="Dog" />Taking dogs care to the
          next level<button>
            <svg class="" width="53" height="24">
              <use href="./img/srite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li>
          <img src="./img/services2.jpg" alt="Dog" />We value the best health of
          your pet<button>
            <svg class="" width="53" height="24">
              <use href="./img/srite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li>
          <img src="./img/services3.jpg" alt="Dog" />Trust us with your pet`s
          vacation<button>
            <svg class="" width="53" height="24">
              <use href="./img/srite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li>
          <img src="./img/services4.jpg" alt="Cat" />We treat cats with utmost
          care<button>
            <svg class="" width="53" height="24">
              <use href="./img/srite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section> -->
