.header {
  padding: 20px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}

.header-list {
  display: flex;
}

.hero,.header{
  background-image: url(../img/Hero_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}